.Container {
    display: flex;
    justify-content: center;
}
.list-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0;
}
.deletedItem-container {
    display: flex;
}
.checkbox-container :hover {
    background: red;
}
